@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #27272a;
    }
}

body {
    background: var(--background);
}

@layer utilities {
    /* Chromiumを使おう */
    .interpolate-keywords {
        interpolate-size: allow-keywords;
    }
}

.katex-display {
    overflow: auto;
}
